@import '../../common.less';

:host {
    .chronomaps {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 20px;
        padding: 40px 0;
        align-items: stretch;
    }
    .title {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 24px 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 40px;
        background: @color-white;
        box-shadow: 0px 0px 20px 1px rgba(252, 13, 28, 0.25);

        img {
            align-self: flex-start;
        }

        .description {
            align-self: flex-end;
            display: flex;
            flex-flow: column nowrap;
            gap: 8px;
            align-items: stretch;

            .font-manrope;
            .short {
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.2px;
            }
            .long {
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.18px;
                display: flex;
                flex-flow: column nowrap;
        
                ::ng-deep {
                    a {
                        font-weight: 500;
                        text-decoration-line: underline;
                        cursor: pointer;        
                        color: inherit;
                    }
                    p {
                        margin: 0;
                        margin-bottom: 0.33em;
                    }
                }
            }
            .toggle {
                align-self: flex-end;
                font-weight: 500;
                text-decoration-line: underline;
                cursor: pointer;
            }
            .logos {
                margin-top: 40px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 32px;
            }
        }
    }
}