@import '../../common.less';

:host {
    .chronomaps {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .desktop({
            padding: 40px 0;
            gap: 20px;
        });
        .mobile({
            padding: 16px 0;
            gap: 16px;
        });
        align-items: stretch;
        app-directory-item {
            flex: 0 0 auto;
        }
        padding-bottom: 200px;
    }

    .title-container {
        position: fixed;
        .desktop({
            bottom: 0;
            left: 0;
        });
        .mobile({
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            .no-scrollbars;
        });
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        pointer-events: none;

        .filler {
            .desktop({
                display: none;
            });
            .mobile({
                height: ~'calc(100% - 24px - ( 100vw - 32px ) * 0.1875)';
            });
            transition: background-color @transition-time-directory ease-in-out;
            opacity: 0.3;
        }

        &:has(.title:hover) {
            pointer-events: all;
        }

        .title {
            pointer-events: all;
            .desktop({
                padding: 24px 40px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                gap: 40px;
            });
            .mobile({
                padding: 16px;
                display: flex;
                flex-flow: column;
                gap: 8px;

                position: relative;
                .handle {
                    position: absolute;
                    top: 6px;
                    left: 50%;
                    width: 20px;
                    height: 4px;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    transform: translateX(-50%);
                }
            });
            background: @color-white;
    
            img {
                .desktop({
                    align-self: flex-start;
                });
                .mobile({
                    width: 100%;
                    height: auto;
                });
            }
    
            .description {
                .desktop({
                    align-self: flex-end;
                });
                display: flex;
                flex-flow: column nowrap;
                gap: 8px;
                align-items: stretch;
    
                .short {
                    .font-manrope;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.2px;
                }
                .long {
                    .font-manrope;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0.18px;
                    display: flex;
                    flex-flow: column nowrap;
            
                    ::ng-deep {
                        a {
                            font-weight: 500;
                            text-decoration-line: underline;
                            cursor: pointer;        
                            color: inherit;
                        }
                        p {
                            margin: 0;
                            margin-bottom: 0.33em;
                        }
                    }
                }
                .toggle {
                    align-self: flex-end;
                    font-weight: 500;
                    text-decoration-line: underline;
                    cursor: pointer;
                    .mobile({
                        display: none;
                    });
                }
                .logos {
                    margin-top: 40px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    .mobile({
                        justify-content: center
                    });
                    gap: 32px;
                    img {
                        width: auto;
                    }
                }
            }
        }
    }
}