@import '../../../common.less';

:host {
    width: 100%;
    position: relative;
    cursor: pointer;

    .desktop({
        height: 124px;
    });
    pointer-events: all;

    .meta {
        display: flex;
        .desktop({
            flex-flow: row nowrap;
            gap: 16px;
            height: 100%;
            padding-left: 40px;
            padding-right: 16px;
            });
        .mobile({
            flex-flow: column nowrap;
            gap: 8px;
            min-height: 243px;
        });    

        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 1;
        pointer-events: none;

        .time {
            .font-manrope;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.24px;
        }

        img {
            .desktop({
                height: 100%;
                width: 192px;
                padding-bottom: 20px;
            });
            .mobile({
                height: 100px;
                width: 100%;
            });
            object-fit: cover;
            flex: 0 0 auto;
        }

        .titles {
            display: flex;
            flex-flow: column nowrap;
            gap: 0;
            width: 100%;
            .desktop({
                padding-bottom: 15px;
            });
            .mobile({
                padding: 0 16px;
                flex: 1 1 auto;
                padding-bottom: 14px;
            });
         
            .title {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 8px;
                pointer-events: all;
                .desktop({
                    margin-top: -8px;
                });
                .mobile({
                    margin-top: -1px;
                    margin-bottom: 1px;
                });

                span {
                    .font-sourcecode;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    text-transform: uppercase;
                    white-space: nowrap;
                }

                .arrow-container {
                    flex: 1 1 100%;
                    height: 20px;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    .arrow {
                        position: absolute;
                        right: 800px;
                        transition: right @transition-time-directory ease-in;
                        top: -1px;
                    }

                    .time {
                        flex: 0 0 auto;
                        position: absolute;
                        right: 4px;
                        color: @color-gray-3;
                        transition: opacity @transition-time-directory ease-in;
                        opacity: 1;
                    }

                }
            }

            .subtitle {
                .font-manrope;
                font-size: 15px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0.15px;
                margin-top: -2px;
                margin-bottom: 1px;

                ::ng-deep * {
                    display: inline;
                    margin: 0;
                }
            }

            .timerange {
                .font-manrope;
                opacity: 0;
                transition: opacity @transition-time-directory ease-in;
                color: @color-gray-2;
                font-size: 13px;
                font-weight: 300;
                line-height: 23px;
                letter-spacing: 0.13px;

            }

            .counts {
                margin-top: auto;
                color: @color-gray-2;
                .font-manrope;
                font-size: 13px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: 0.13px;
            }
        }

    }

    .desktop({
        &:hover {
            .meta > .titles {
                & > .title > .arrow-container {
                    .arrow {
                        right: 0 !important;
                    }
                    .time {
                        opacity: 0;
                    }
                }
                & > .timerange {
                    opacity: 1;
                }
            }
        }
    });

    .mobile({
        .meta {
            & > .titles {
                & > .title > .arrow-container {
                    .arrow {
                        right: 0 !important;
                    }
                    .time {
                        opacity: 1;
                        color: @color-white;
                        position: relative;
                        top: -32px;
                    }
                }
                & > .timerange {
                    opacity: 1;
                }
            }
            & > .time {
                position: absolute;
                top: 82px;
                right: 4px;
                color: @color-white;
                text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
            }
        }
    });

    app-time-line {
        position: absolute;
        .desktop({
            bottom: 0;
        });
        .mobile({
            bottom: 4px;
        });
        left: 0;
        width: 100%;
    }
}