<app-layout [api]='api' (info)='info = $event' (addNew)='addNew = $event' (layers)='layers = $event'>
    <div class='content'>
        <ng-content></ng-content>
        <app-infobar [class.open]='info' [api]='api' (close)='info=false'
            [title]='infobarTitle'
            [subtitle]='infobarSubtitle'
        ></app-infobar>
        <app-add-new-bar *ngIf='addNew' [class.open]='addNewOpen' [api]='api' (close)='addNew=false'
        ></app-add-new-bar>
        <app-layers-bar *ngIf='layers' [class.open]='layersOpen' [api]='api' (close)='layers=false' (addNew)='addNew=true'
        ></app-layers-bar>
    </div>
    <div class='header-title'>
        <h1 [style.color]='PRIMARY_COLOR'>{{title}}</h1>
        <h2 [style.color]='PRIMARY_COLOR'>{{subtitle}}</h2>
    </div>
</app-layout>
