<div [class]='"wrapper " + classes()'>
    <div class='header'>
        <div class='year'>{{item.year}}</div>
        <div class='title'>{{item.title}}</div>
    </div>
    <div class='content'>
        <app-content-item [content]='content' [contentType]='content.type' [activeItem]='activeItem' 
                          [parentElement]='el.nativeElement.parentElement'
                          (mapView)='mapView.emit($event)' (activated)='onActivated($event)'></app-content-item>
    </div>
    <div class='timeline layout-desktop'></div>
</div>