<app-timeline-map-base [id]='id' [title]='title' [subtitle]='subtitle' [infobarTitle]='infobarTitle' [infobarSubtitle]='infobarSubtitle' [api]='api'>
    <div class='map'>
        <div #mapEl></div>
    </div>
    <div class='timeline'>
        <ng-container *ngFor='let item of timeline'>
            <app-content-placeholder [attr.data-year]='"Y" + item.year' [item]='item' *ngIf='!item.hasContent'></app-content-placeholder>
            <app-content [attr.data-year]='"Y" + item.year' 
                [activeItem]='activeItem'
                [item]='item' *ngIf='item.hasContent'
                (mapView)='changeMapView($event)'
                (activated)='contentActivated($event)'
            ></app-content>
        </ng-container>
    </div>
</app-timeline-map-base>