<div class='layout'>
    <ng-content select='.content'></ng-content>
    <div class='header' [class.hidden]='hideHeader'>
        <a href='/'>
            <img class='logo layout-mobile' src='assets/img/st_logo.svg'>
            <img class='logo layout-desktop' src='assets/img/st_logo.svg'>
        </a>
        <div class='text'>
            <ng-content select='.header-title'></ng-content>
        </div>
        <div class='layers'>
            <img src='assets/img/icon-layers.svg' (click)='layers.emit(true)'/>
            <div class='contrib' *ngIf='api.contribCount > 0'>{{api.contribCount}}</div>
        </div>
        <img class='addNew' src='assets/img/icon-add-new.svg' (click)='addNew.emit(true)'>
        <img class='info' src='assets/img/wawb-info-icon.svg' (click)='info.emit(true)'>
    </div>
</div>
