<ng-container *ngIf='contentVisible'>
    <app-content-audio *ngIf='contentType === "audio"'         [chronomap]='chronomap' [item]='content' [activeItem]='activeItem'></app-content-audio>
    <app-content-video *ngIf='contentType === "video"'         [chronomap]='chronomap' [item]='content' [activeItem]='activeItem'></app-content-video>
    <app-content-image *ngIf='contentType === "image"'         [chronomap]='chronomap' [item]='content'></app-content-image>
    <app-content-news *ngIf='contentType === "news"'           [chronomap]='chronomap' [item]='content'></app-content-news>
    <app-content-note *ngIf='contentType === "note"'           [chronomap]='chronomap' [item]='content'></app-content-note>
    <app-content-twitter *ngIf='contentType === "twitter"'     [chronomap]='chronomap' [item]='content'></app-content-twitter>
    <app-content-instagram *ngIf='contentType === "instagram"' [chronomap]='chronomap' [item]='content'></app-content-instagram>
    <app-content-wikipedia *ngIf='contentType === "wikipedia"' [chronomap]='chronomap' [item]='content'></app-content-wikipedia>    
</ng-container>
