<div class='wrapper'>
    <div class='base-map'>
        <div #baseMapEl></div>
    </div>
    <app-time-line #timeLine *ngIf='timelineState() !== null' 
        [minDate]='chronomap.minDate()' [maxDate]='chronomap.maxDate()' [chronomap]='chronomap' [state]='timelineState' 
        (selected)='itemSelected($event)'
    ></app-time-line>
    <div class='detail-bg'>
        <div class='detail' [class.open]='detailOpen' [style.width]='getDetailWidth()' [class.map-mode]='this.mapMode === "Map"'
                            [style.border-color]='chronomap.primaryColor()'>
            <div class='detail-map' #detailMapEl [style.width]='baseWidthPx'>
            </div>
            <div class='content' [style.background-color]='this.mapMode === "Map" ? "#00000000" : chronomap.primaryColor() + "66"'>
                <div class='scroller' #scroller [style.width]='detailWidthPx'>
                    <div class='scroll-card' *ngFor='let item of chronomap.timelineItems()' [style.width]='detailWidthPx'>
                        <app-content-item 
                            *ngIf='contentVisible && currentItem'
                            [attr.data-id]='item.id' 
                            [content]='item' [contentType]='item.type'
                            [activeItem]='currentItem'
                            [parentElement]='scroller'
                            [chronomap]='chronomap'
                            (activated)='itemActivated($event)'
                        ></app-content-item>
                    </div>
                </div>
                <div class='button-close' (click)='itemSelected(null)'></div>
                <div class='description' #description>
                    <div class='backdrop'></div>
                    <div class='inner' *ngIf='currentItem'>
                        <app-media-icon [type]='currentItem.type' [color]='chronomap.primaryColor()'></app-media-icon>
                        <span class='title' [style.color]='"#fff"'>{{currentItem.title}}</span>
                        <span class='date' [style.color]='"#fff"'>{{currentItem.formattedPostTimestamp}}</span>
                        <!-- <app-media-icon [type]='currentItem.type' [color]='markerColor(currentItem)'></app-media-icon>
                        <span class='title' [style.color]='markerColor(currentItem)'>{{currentItem.title}}</span>
                        <span class='date' [style.color]='markerColor(currentItem)'>{{currentItem.niceTimestamp}}</span> -->    
                    </div>
                </div>
                <ng-container *ngIf='currentItem'>
                    <div class='arrow' *ngIf='currentItem.prev' (click)='itemSelected(currentItem.prev)'></div>
                    <div class='arrow rev' *ngIf='currentItem.next' (click)='itemSelected(currentItem.next)'></div>
                    <div class='arrow-icon' *ngIf='currentItem.prev' (click)='itemSelected(currentItem.prev)'>
                        <app-media-icon [type]='currentItem.prev.type' [color]='chronomap.primaryColor()'></app-media-icon>
                    </div>
                    <div class='arrow-icon rev' *ngIf='currentItem.next' (click)='itemSelected(currentItem.next)'>
                        <app-media-icon [type]='currentItem.next.type' [color]='chronomap.primaryColor()'></app-media-icon>
                    </div>
                </ng-container>
            </div>
            <div class='map-toggle' (click)='toggleMapMode()' [style.background]='markerColor()'>
                <div class='circle' [class.map]='mapMode === "Map"'></div>
                <div class='icons'>
                    <app-media-icon [type]='currentItem?.type || ""' marker='Media' [color]='mapModeColor("Media")'></app-media-icon>
                    <app-media-icon type='' marker='Map' [color]='mapModeColor("Map")'></app-media-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div #baseMarkers style='display:none'>
    <ng-container *ngFor='let item of chronomap.timelineItems()'>
        <div class='mapmarker' [style.border-color]='this.chronomap.primaryColor()'>
            <app-media-icon [type]='item.type' [color]='markerColor()' [breathing]='item === currentItem'></app-media-icon>
        </div>
    </ng-container>
</div>
<div #detailMarkers style='display:none'>
    <ng-container *ngFor='let item of chronomap.timelineItems()'>
        <div class='mapmarker' [style.border-color]='this.chronomap.primaryColor()'>
            <app-media-icon [type]='item.type' [color]='markerColor()' [breathing]='item === currentItem'></app-media-icon>
        </div>
    </ng-container>
</div>
<app-map-selector *ngIf='mapSelector.showMapSelector'></app-map-selector>