<div class='wrapper'>
    <div class='base-map'>
        <div #baseMapEl></div>
        <app-map-selector *ngIf='mapSelector.showMapSelector' [chronomap]='chronomap' [flyToOptions]='mapHandler.lastMapState'></app-map-selector>
        <app-timeline-selector *ngIf='mapSelector.showTimelineSelector' [chronomap]='chronomap' [flyToOptions]='mapSelector.selectedGeo'></app-timeline-selector>
    </div>
    <app-time-line #timeLine *ngIf='timelineState() !== null' 
        [minDate]='chronomap.minDate()' [maxDate]='chronomap.maxDate()' [chronomap]='chronomap' [state]='timelineState' 
        (selected)='itemSelected($event)'
    ></app-time-line>
    <div class='detail-bg'>
        <div class='detail' [class.open]='detailOpen' [style.width]='getDetailWidth()' [class.map-mode]='this.mapMode === "Map"'
                            [style.border-color]='chronomap.primaryColor()' #detail>
            <div class='detail-map' #detailMapEl [style.width]='baseWidthPx'>
            </div>
            <div class='content' [style.background-color]='this.mapMode === "Map" ? "#00000000" : chronomap.primaryColor() + "66"'
                [class.map-mode]='this.mapMode === "Map"'
                [class.small-map-mode]='this.mapMode === "SmallMap"'
                [class.media-mode]='this.mapMode === "Media"'
                [class.description-mode]='this.mapMode === "More"'
                #contentRoot
            >
                <div class='button-close' (click)='itemSelected(null)'></div>
                <div class='filler' #contentFiller>
                </div>
                <div class='map-toggle' [style.border-color]='chronomap.primaryColor()'>
                    <div (click)='toggleMapMode()' [class.map]='this.mapMode === "Map"'></div>
                </div>
                <div class='scroller' #scroller [style.width]='detailWidthPx' #contentItem>
                    @for (item of chronomap.timelineItems(); track item.id) {
                        <div class='scroll-card' [style.width]='detailWidthPx' [class.current]='item === currentItem'>
                            <app-content-item 
                                *ngIf='contentVisible && currentItem'
                                [attr.data-id]='item.id' 
                                [content]='item' [contentType]='item.type'
                                [activeItem]='currentItem'
                                [parentElement]='scroller'
                                [chronomap]='chronomap'
                                (activated)='itemActivated($event)'
                            ></app-content-item>
                        </div>
                    }
                </div>

                @if (currentItem) {
                    <div class='target-icon' #targetIcon>
                        <app-media-icon [type]='currentItem.type' [color]='chronomap.primaryColor()'></app-media-icon>
                    </div>
                    <div class='description-toggle' [style.border-color]='chronomap.primaryColor()'>
                        <div class='description-toggle-button' (click)='toggleDescriptionMode()' [class.more]='this.mapMode === "More"'></div>
                        <div class='date'>{{currentItem.formattedPostTimestamp}}</div>
                        <div class='backdrop'></div>
                    </div>
                    <div class='description' #contentDescription>
                        <div class='description-content'  [style.border-color]='chronomap.primaryColor()'>
                            <div class='inner'>
                                <div class='title' [rtlDetect]='currentItem.title'>{{currentItem.title}}</div>
                                <div class='authors' [style.color]='chronomap.primaryColor()'>Created by <strong>{{currentItem.formattedAuthors}}</strong></div>
                                <div class='tags'>
                                    @for (tag of currentItem.tags; track tag) {
                                        <div class='tag' [style.background-color]='chronomap.primaryColor() + "40"'>{{tag}}</div>
                                    }
                                </div>
                                @if (currentItem.notes) {
                                    <div class='notes' [innerHTML]='marked(currentItem.notes)' [rtlDetect]='currentItem.notes'></div>
                                }
                                <div class='last-updated'>Last Edited: {{currentItem.lastModified.toLocaleDateString()}}</div>
                            </div>
                            <div class='separator' [style.border-color]='chronomap.primaryColor()'></div>
                            @if (currentItem.relatedItems?.length) {
                                <div class='title related'>RELATED POSTS</div>
                                @for (related of currentItem.relatedItems; track related.id) {
                                    <div class='related' (click)='itemSelected(related)'>
                                        <div class='related-header'>
                                            <div class='related-icon'>
                                                <app-media-icon [type]='related.type' [color]='chronomap.primaryColor()' [outline]='false'></app-media-icon>
                                            </div>
                                            <div class='related-date' [style.color]='chronomap.primaryColor()'>{{related.formattedPostTimestamp}}</div>                                            
                                        </div>
                                        <div class='related-title'>{{related.title}}</div>
                                    </div>
                                }
                            }
                            <!-- <div class='add-new'>Respond with a new post</div>                                 -->
                        </div>
                    </div>    

                    <div class='arrow' *ngIf='currentItem.prev' (click)='state.selectedItemId = currentItem.prev.id'></div>
                    <div class='arrow rev' *ngIf='currentItem.next' (click)='state.selectedItemId = currentItem.next.id'></div>
                    <div class='arrow-icon' *ngIf='currentItem.prev' (click)='state.selectedItemId = currentItem.prev.id'>
                        <app-media-icon [type]='currentItem.prev.type' color='white' [outline]='false'></app-media-icon>
                    </div>
                    <div class='arrow-icon rev' *ngIf='currentItem.next' (click)='state.selectedItemId = currentItem.next.id'>
                        <app-media-icon [type]='currentItem.next.type' color='white' [outline]='false'></app-media-icon>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div #baseMarkers style='display:none'>
    <ng-container *ngFor='let item of chronomap.timelineItems()'>
        <div class='mapmarker' [style.border-color]='this.chronomap.primaryColor()'>
            <app-media-icon [type]='item.type' [color]='markerColor()' [breathing]='item === currentItem'></app-media-icon>
        </div>
    </ng-container>
</div>
<div #detailMarkers style='display:none'>
    <ng-container *ngFor='let item of chronomap.timelineItems()'>
        <div class='mapmarker' [style.border-color]='this.chronomap.primaryColor()'>
            <app-media-icon [type]='item.type' [color]='markerColor()' [breathing]='item === currentItem'></app-media-icon>
        </div>
    </ng-container>
</div>