<div class='slides'>
    <div class='controls'>
        <div class='control'>
            <svg *ngIf='slide > 0 && slide < 4' width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='slide=slide-1'>
                <path d="M18 1L7 12.1467L18 23" [attr.stroke]="chronomap.primaryColor()"/>
            </svg>
        </div>
        <div class='control'>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)='closeMe()'>
                <path d="M1.39453 1.39355L22.6077 22.6068" [attr.stroke]="chronomap.primaryColor()"/>
                <path d="M22.6074 1.39355L1.39422 22.6068" [attr.stroke]="chronomap.primaryColor()"/>
            </svg>
        </div>
    </div>
    <div class='slide' [class.pre]='slide < 0' [class.post]='slide > 0'>
        <div class='header'>
            <h1>Add your perspective</h1>
            <h2 [innerHtml]='chronomap.contributeMessage()' *ngIf='chronomap.contributeMessage()'></h2>
            <h2>Let’s indeed start by choosing the format for this perspective:</h2>
        </div>
        <div class='content-types' [style.color]='chronomap.primaryColor()'>
            <div class='content-type' (click)='selectCT("note", "sticky note")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"note"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Sticky Note</div>
            </div>
            <div class='content-type' (click)='selectCT("audio", "audio clip")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"audio"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>  
                <div class='name'>Audio clip</div>
            </div>
            <div class='content-type' (click)='selectCT("twitter", "Tweet")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"twitter"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Twitter post</div>
            </div>
            <div class='content-type' (click)='selectCT("instagram", "Instagram post")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"instagram"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Instagram post</div>
            </div>
            <div class='content-type' (click)='selectCT("video", "video clip")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"video"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Youtube video</div>
            </div>
            <div class='content-type' (click)='selectCT("wikipedia", "Wikipedia snippet")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"wikipedia"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Wikipedia article</div>
            </div>
            <div class='content-type' (click)='selectCT("news", "news article")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"news"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>News</div>
            </div>
            <div class='content-type' (click)='selectCT("image", "image")'>
                <div class='icon' [style.border-color]='chronomap.primaryColor()'>
                    <app-media-icon [type]='"image"' [color]="chronomap.primaryColor()"></app-media-icon>
                </div>
                <div class='name'>Image</div>
            </div>
        </div>
    </div>
    <div class='slide' [class.pre]='slide < 1' [class.post]='slide > 1'>
        <div class='header'>
            <h1 class='indented'>Where?</h1>
            <h2>Position the camera on your location of choice</h2>
        </div>
        <div class='bottom'>
            <button class='next-button' *ngIf='selectedGeo' (click)='slide = slide + 1;' [style.color]='chronomap.primaryColor()' [style.border-color]='chronomap.secondaryColor() + "40"'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11 23L22 11.8533L11 1" [attr.stroke]="chronomap.primaryColor()" stroke-width="2"/>
                    <line x1="22" y1="12" x2="2" y2="12" [attr.stroke]="chronomap.primaryColor()" stroke-width="2"/>
                </svg>
            </button>
        </div>
    </div>
    <div class='slide' [class.pre]='slide < 2' [class.post]='slide > 2'>
        <div class='header'>
            <h1 class='indented'>When?</h1>
            <h2>Drag the timeline left and right to position your {{contentTypeName}} in time. Zoom the timeline (using the scroll wheel or the + & - buttons) to adjust between years, days, hours and minutes.</h2>
        </div>
        <div class='bottom'>
            <button class='next-button' *ngIf='selectedDate' (click)='slide = slide + 1;' [style.color]='chronomap.primaryColor()' [style.border-color]='chronomap.secondaryColor() + "40"'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11 23L22 11.8533L11 1" [attr.stroke]="chronomap.primaryColor()" stroke-width="2"/>
                    <line x1="22" y1="12" x2="2" y2="12" [attr.stroke]="chronomap.primaryColor()" stroke-width="2"/>
                </svg>
            </button>
        </div>
    </div>
    <div class='slide' [class.pre]='slide < 3' [class.post]='slide > 3'>
        <div class='header'>
            <h1 class='indented'>Add The Details</h1>
            <h2>Now that we know time and space, let’s add the details of your {{contentTypeName}}</h2>
        </div>
        <iframe [src]='iframeSrc' frameborder='0' onmousewheel='' width='100%' height='100%' *ngIf='iframeSrc'></iframe>
    </div>
    <div class='slide' [class.pre]='slide < 4' [class.post]='slide > 4'>
        <div class='header'>
            <h1>Thank you!</h1>
            <h2>We will review your contribution and email you if it is added to the timeline</h2>
        </div>
        <div class='bottom'>
            <button (click)='closeMe()' [style.color]='chronomap.primaryColor()' [style.border-color]='chronomap.secondaryColor() + "40"'>
                close
            </button>
        </div>
    </div>
</div>
<div class='progress' [style.border-color]='chronomap.secondaryColor()'>
    <ng-container *ngIf='slide >= 0 && slide < 4'>
        <div class='progress-item' [style.background]='slide==0 ? chronomap.primaryColor() : null'></div>
        <div class='progress-item' [style.background]='slide==1 ? chronomap.primaryColor() : null'></div>
        <div class='progress-item' [style.background]='slide==2 ? chronomap.primaryColor() : null'></div>
        <div class='progress-item' [style.background]='slide==3 ? chronomap.primaryColor() : null'></div>
    </ng-container>
</div>