<div class='article'>
    <div class='title'>
        <h1>{{item.title}}</h1>
        <h2>From Wikipedia, the free encyclopedia</h2>
    </div>
    <div class='content'>
        <div class='text'>
            <div class='excerpt' [innerHtml]='marked(item.content)'></div>
        </div>
        <div *ngIf='item.image && item.image.length' class='image' [style.background-image]='"url(" + item.image[0].url + ")"'></div>
        <div class='bottom'>
            <a class='link' [href]='item.link_domain' target='_blank'>Learn more at the English Wikipedia</a>
        </div>
    </div>
</div>
